
.lg-btn {
    width:240px
}

.lg-hr {
    width: 190px
}

.lg-register {
    position:relative;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    /*margin-left:20px;*/
}

.lg-forgetPwd {
    position:relative;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-left:120px;
}

.lg-title {
    margin-left:20%;
    margin-top:1%
}

.lg-passwordImg {
    position:absolute;
    left:200px;
    top:2px
}
